<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="con"
   connectionString="Persist Security Info=False;
   Data Source=C:\PenDrive\mydatabase.accdb;
   Initial Catalog=Lecture;
   Integrated Security=SSPI;
   Trusted_Connection=TRUE;
   Application Name=CoachingManagementSystem"
   providerName="System.Data.OleDb" />
  </connectionStrings>
  
  <appSettings>
    <add key="elephant" value="Driver={Microsoft Access Driver (*.mdb,*.accdb)};Dbq=C:\mydatabase.accdb;Uid=Admin;Pwd=;"/>
  </appSettings>
</configuration>